@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('fonts/Roboto-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobolditalic';
    src: url('fonts/Roboto-BoldItalic-webfont.eot');
    src: url('fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-BoldItalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




a {
 font-family:'robotoregular';
 text-align: justify;
 color: #990000; 
 }


.navbar-default {
 background-color: #990000;
 border-color: #610202;
}

/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
 color: #555;
 background-color: #E7E7E7;
}

/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
 color: #555;
 background-color: #D5D5D5;
}




h1 {
 font-family:'robotobold';
  font-size: 24px;
 color: #990000;
 /*margin-top: 72px;*/
 }


h2 {
 font-family:'robotobold';
 font-size: 20px;
 color: #990000;
 margin-top: 24px;
 }
 
h3 {
 font-family:'robotobold';
 font-size: 16px;
 color: #1a1a1a; 
 } 

body {
 background-color: white; 
 font-family: 'robotoregular'; 
 text-align: justify;
 color: #1a1a1a; 
 font-size: 14px;
 }

strong {
 background-color: white; 
 font-family: 'robotobold';
 font-weight: bold;
 color: #1a1a1a; 
 font-size: 14px;
 }

.fig{
 font-family: 'robotoitalic';
 color: #990000; 
 font-size: 16px;
margin-top: 16px;
 }



